<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Grid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C69C925E1ED1919300A05BBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C69C92721ED1919400A05BBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C69C927D1ED1919400A05BBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
